<%- include('partials/header'); -%>

<ul class="recipes">
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Banana Boost</h4>
    <p>Banana, Vanilla ice cream, Milk</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Tropical Twist</h4>
    <p>Peach, Pinapple, Apple juice</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Protein Packer</h4>
    <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Banana Boost</h4>
    <p>Banana, Vanilla ice cream, Milk</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Tropical Twist</h4>
    <p>Peach, Pinapple, Apple juice</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Protein Packer</h4>
    <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
  </li>
</ul>

<%- include('partials/footer'); -%>

<script>
  lpTag.sdes = lpTag.sdes||[];
lpTag.sdes.push(
 {
      "type": "cart",  //MANDATORY
      "total": 18.7,  //TOTAL VALUE OF THE CART AFTER DISCOUNT
      "currency": "USD",  //CURRENCY CODE
      "numItems": 6,  //NUMBER OF ITEMS IN CART
      "page title":"Smoothie Page",
      "products": [{
          "product": {
          "name": "prod1",  //PRODUCT NAME
          "category": "category",  //PRODUCT CATEGORY NAME
          "sku": "sku",  //PRODUCT SKU OR UNIQUE IDENTIFIER
          "price": 7.8  //SINGLE PRODUCT PRICE
          }, "quantity": 1  //NUMBER OF PRODUCTS
      }]
 }
);
lpTag.sdes.push(
 {
      "type": "ctmrinfo",  //MANDATORY
      "info": {
      "page title":"Smoothies Page",
         "cstatus": "cancelled",  //CUSTOMER LIFECYCLE STATUS. FROM PRE-DEFINED LIST
         "ctype": "vip",  //CUSTOMER TYPE OR TIER. FROM PRE-DEFINED LIST
         "customerId": "138766AC",  //UNIQUE CUSTOMER IDENTIFIER
         "balance": -400.99,  //THE CUSTOMER FINANCIAL BALANCE IN DECIMAL VALUE
         "currency": "USD",  //CURRENCY CODE
         "socialId": "11256324780",  //SOCIAL ID OF YOUR CHOICE: FACEBOOK, TWITTER ETC...
         "imei": "3543546543545688",  //UNIQUE DEVICE OR PHONE IDENTIFIER
         "userName": "user000",  //CONSUMER NICKNAME OR USERNAME
         "companySize": 500,  //COMPANY SIZE MEASURED BY NUMBER OF EMPLOYEES
         "companyBranch": "East Village",  //THE CUSTOMER'S COMPANY BRANCH NAME
         "accountName": "bank corp",  //THE CUSTOMER'S COMPANY NAME
         "role": "broker",  //CONSUMER ROLE TITLE
      }
 }
);
</script>
